{% extends "templates/base.html" %}
{% block title %}Dataent: Frameworks + Apps{% endblock %}
{% block content %}
<section class="top-section">
	<div class='container my-5'>
	<h1>Frameworks + Apps</h1>
	<p class='lead'>We are a software engineering company that builds open source frameworks, applications and libraries.</p>
	</div>
</section>

{% macro card(title, body, btnlabel, btnlink, badges) %}
<div class="col-sm mb-4">
	<a href="{{ btnlink }}" class="card h-100">
	  <div class="card-body">
		<h5>{{ title }}</h5>
	    <div class="card-text">{{ body }}</div>
	    <!-- <a href="{{ btnlink }}" class="btn btn-dark btn-sm">{{ btnlabel }}</a> -->
	  </div>
	</a>
</div>
{% endmacro %}
<section class="section-padding section-bg">
	<div class='container'>
		<h2 class='text-center'>Built for the Web</h2>
		<p class='lead text-center'>Here are some of our best loved frameworks and applications</p>
	<div class="row mt-5">
		{{ card(
			"EPAAS",
			"Fully featured, modern, easy-to-use 100% Open Source ERP.",
			"EPAAS.com",
			"/epaas",
			["App", "Python", "JS"]
		) }}

		{{ card(
			"Dataent",
			"Python + JS based metadata driven, full-stack web-application framework.",
			"Documentation",
			"/dataent",
			["Framework", "Python", "JS"]
		) }}

		{{ card(
			"Bench",
			"CLI to setup, deploy, manage multiple Dataent / EPAAS instances.",
			"EPAAS.com",
			"/bench",
			["CLI", "Python"]
		) }}
	</div>

	<div class="row">
		{{ card(
			"Gantt",
			"Open source, fully featured, SVG based Javascript Gantt library.",
			"EPAAS.com",
			"/gantt",
			["Lib", "JS"]
		) }}

		{{ card(
			"Charts",
			"Open source, extensible, GitHub inspired SVG based Charting library.",
			"EPAAS.com",
			"/charts",
			["Lib", "JS"]
		) }}

		{{ card(
			"DataTable",
			"Missing open source Javascript based Datatable built for the web.",
			"EPAAS.com",
			"/datatable",
			["Lib", "JS"]
		) }}
	</div>
	</div>

</section>
<section class='section-padding text-center'>
	<div class='container'>
		<h3>A Community, Not Just a Company</h3>
		<p class='lead'>At Dataent we are true believers of Open Source and actively work with communities to share our knowledge.</p>
		<img src='/assets/dataent_io/images/hackathon.jpg' class='greyscale mt-5'>
		<p class='mt-5 text-muted'>We are always looking for great people to join our team</p>
		<a class='btn btn-dark' href='/jobs'>Apply for a Job</a>
	</div>
</section>
{% endblock %}
